page-home { 
  .icons-basic-page {
    ion-icon {
      font-size: 50px;
    }
  
    ion-row {
      height: 100%;
      flex-wrap: wrap;
    }
  
    ion-col {
      flex: 0 0 25%;
      max-width: 25%;
      text-align: center;
      padding: 10px 5px;
    }
  }
  .Header{
    font-size: 5vh;
    z-index: 999999;
    background-color:  map-get($colors, primary);
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    width: 100%;
  }

}


